@keyframes loading-1 {
	0% {
		top: 36px;
		height: 128px;
	}
	50% {
		top: 60px;
		height: 80px;
	}
	100% {
		top: 60px;
		height: 80px;
	}
}
@keyframes loading-2 {
	0% {
		top: 41.99999999999999px;
		height: 116.00000000000001px;
	}
	50% {
		top: 60px;
		height: 80px;
	}
	100% {
		top: 60px;
		height: 80px;
	}
}
@keyframes loading-3 {
	0% {
		top: 48px;
		height: 104px;
	}
	50% {
		top: 60px;
		height: 80px;
	}
	100% {
		top: 60px;
		height: 80px;
	}
}
.loading div {
	position: absolute;
	width: 30px;
}
.loading div:nth-child(1) {
	left: 35px;
	background: #e15b64;
	animation: loading-1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
	animation-delay: -0.2s;
}
.loading div:nth-child(2) {
	left: 85px;
	background: #f8b26a;
	animation: loading-2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
	animation-delay: -0.1s;
}
.loading div:nth-child(3) {
	left: 135px;
	background: #abbd81;
	animation: loading-3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
	animation-delay: undefined;
}

.loading__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
.loading {
	width: 200px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
	background: transparent;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
}
.loading div {
	box-sizing: content-box;
}
